ul{
    list-style-type: none;
}

nav ul{
    margin-top: 0px;
    list-style-type: none;
    background-color: #D9D9D9 !important;
    height: 70px;
    border-radius: 20px;
    padding: 10px;
}
body{
    background-color: #FEFEE3;
}
.left-half{
    float: left;
    display: flex;
}
.right-half{
    float: right;
    display: flex;
}
.nav-bar-item-right a i{
    font-size: 30px;
    padding-right: 20px;
    color: #353535;
}

.left-half .nav-bar-title a{
    text-decoration: none;
    font-size: 40px;
    color: #353535;
}
.left-half .nav-bar-title{
    padding-top: 5px;
}

.left-half{
    padding-top: 10px;
}
.left-half .nav-bar-item-left a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 40px;
    color: #353535;
}


.left-half .nav-bar-item-left{
    padding-top: 25px;
}

.nav-bar-item-right{
    padding-top: 15px;
}
.button-style{
    border-color: #FEFEE3;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    background-color: #FEFEE3;
    border-width: 2px;
    opacity: 0.8;
    transition: 0.3;
}
.button-style a{
    text-decoration: none;
    color: #353535;
}
