.account_container{
    background-color:#D9D9D9 ;
    width: 30%;
    height: 300px;
    border-radius: 20px;
}
.centering{
    display: flex;
    justify-content: center;
}
.account_page_main_label{
    color: #353535;
    font-size: xx-large;
}
.account_label_container{
    display: flex;
    justify-content: center;
}
.login_label_container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.login_label{
    color: #353535;
    font-size: 40px;
}